header.header 
    .container
        .row.align-items-center
            .col-md-3
                a(href="/")
                    img(src="/images/logo.png" alt="MusicApp Logo" class="logo")
            .col-md-6
                .d-flex.align-items-center.justify-content-between
                    // Menu
                    .inner-menu
                        ul.nav.mb-2
                            li.nav-item
                                a.nav-link(href="/") Home

                    // Search form với suggest
                    .box-search
                        form(action="/search/result" method="GET" class="d-flex")
                            input(type="text" name="keyword" value=keyword class="form-control me-2 search-input" placeholder="Search...")
                            button(type="submit" class="btn btn-outline-success") Search
                        
                        // Suggest dropdown
                        .inner-suggest
                            .inner-list
                                

            .col-md-3.text-end
                if user
                    span.me-3 Welcome, #{user.name}!
                    a(href="/logout" class="btn btn-outline-danger") Logout
                else
                    a(href="/login" class="btn btn-outline-primary me-2") Login
                    a(href="/register" class="btn btn-secondary") Register