
extends ../../layouts/default.pug

block content
  .error-container
    img(src="/images/Error404.png", alt="404 Error")
    h1 404
    h2 Không tìm thấy trang
    p Trang bạn yêu cầu không tồn tại hoặc đã bị xóa.
    a.btn(href="/") ← Quay lại trang chủ